#formTitle{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}











#save{
background-color: mediumblue;
}



#cncl{
    background-color: rgb(255, 17, 17);
    float: right;
}
