#formTitle{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

#registerDiv{
    margin-top: 5%;
    border: 5px dashed #0f3c5a;
    background-color: rgba(61, 101, 221, 0.671);
}


#registerEmail{
    color:rgb(216, 25, 25);
    font-size: 20px;

}

#username, #password{
background-color: snow;
    width: 90%;
}

#registerText{
    background-color: aliceblue;
    color: rgb(245, 240, 250);
}

#register {
    margin-top: 3%;
    margin-left:5%
}

#cancel {
    margin-top:3%;
    margin-right:5%;
}



#register{
background-color: mediumblue;
color: rgb(255, 255, 255); 
}



#cancel{
    background-color: rgb(255, 17, 17);
    float: right;
}
