#formTitle{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}




#registerEmail{
    color:rgb(216, 25, 25);
    font-size: 20px;

}







#save{
background-color: mediumblue;
}



#cncl{
    background-color: rgb(255, 17, 17);
    float: right;
}
