#homeTxt {
    margin-top: 10px;
    margin-bottom:-15px;
    color: yellow;
}

#topTen {
    margin-bottom:-5em;
    color: yellow;
}

#homeShopDiv{
    margin-top: 5%;
   text-align: center;
}

#homeShopBtn{
    height: 4.5em;
    padding-bottom: 5em;
    margin-bottom: 3em;
}

#cartLogo{
    height: 1em;
}