#homeTxt {
    margin-top: 10px;
    margin-bottom:-15px;
    color: yellow;
}

#topTen {
    margin-bottom:-5em;
    color: yellow;
}

#homeShopDiv{
    margin-top: 5%;
   text-align: center;
}

#homeShopBtn{
    height: 4.5em;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(107, 41, 212);
}

#cartLogo{
    font-size: 35px;
}

.video-container{
    margin-top: 10px;
   padding-right: 10%;
    max-height: 10%;
    width:50%;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}