#adminAddForm{
    margin-top: 5%;
   background-color: rgba(0, 81, 255, 0.407); 
   text-align: center;
}

#consoles{
    background-color: snow;
    color: black;
    font-size: 16px;
    padding: 2%;
    height: 100px;
    margin-bottom: 3%;
}

#consoleSelectTitle{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

#genre{
    color: rgb(12, 11, 11);
    background-color: snow;
}

#formHelper{
    color: rgb(8, 3, 3);
    font-size: 16px;

}

#releaseDate{
    color: #000;
    background-color: snow;
}


#name, #imagePath{
    font-size: 20px;
    background-color: snow;
}

#quantity, #price{
    font-size: 20px;
    color: red;
    font-weight: bold;
}

#publisher{
    background-color: snow;
}




