.form-control{
    color: rgb(8, 7, 5);
  background-color: snow;
}

#formHelper{
    color: rgb(17, 8, 8);
    font-weight: bold;
    margin-top: 2%;
    width: 100%;
}



#field{
   color: snow;
    padding-left: 5%;
    padding-top: 5%;
}

#formHelperContainer{
    margin-top: 5%;
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    outline: 1px solid #e6ff02;
outline-offset: 0px;
background-color: rgba(16, 116, 247, 0.336);
}
