ul{
 direction: rtl;
}

#welcome{
    margin-right:1em;
    color: rgb(243, 239, 4);
    font-size: 16px;
}

#logout-button{
    margin-left:3%;
     background-color: rgba(247, 164, 92, 0.651);
    color: black;
    font-weight: bold;
}
#cart-icon{
    color: rgb(255, 220, 24);
}

#navBarRow{

    color: rgb(243, 239, 4);
    font-size: 16px;
   background-color: darkslateblue;
}