ul{
 direction: rtl;
}

#welcome{
    margin-right:1em;
    color: rgb(243, 239, 4);
    font-size: 16px;
}

#logout-button{
    margin-left:3%;
    background-color: rgb(28, 5, 131);
    color: antiquewhite;
}
#cart-icon{
    color: rgb(255, 220, 24);
}