#submitReviewBtn{
background-color: darkslateblue;
color: yellow;
margin: 1%;
margin-left: 5%
}

       
#reviewLogo{
font-size: 14px;
color: rgb(247, 84, 9);
margin-top: 2%;
}

#title{
    background-color: snow;
    width: 90%;
    margin-top: 1%;
}
#rating{
    background-color: snow;
    width: 90%;
    margin-top: 1%;
}