#loginForm{
    margin-top: 5%;
    border: 5px dashed #1C6EA4;
    padding: 3%;
    background-color: rgba(65, 105, 225, 0.671); 
}
#loginTitle{
    margin-bottom: 10%;
    text-align: center;
    color: black;
}
#username, #password{
    margin-top: 1%;
    margin-left: 2%;
    color: black;
    font-size: medium;
    font-weight: bold;
    background-color: rgba(65, 105, 225, 0);
   
}
#passwordInput{
    margin-bottom: 5%;
}

#passwordInput, #usernameInput{
    margin-top: 1%;
    margin-left: 2%;
    color: black;
    font-size: medium;
    background-color: aliceblue;
}

#loginRegister {
    color: black;
    background-color: rgba(8, 180, 8, 0.7);
   margin-left: 60%;
   font-weight: bold;
    float: right;
}

#loginBtn{
    background-color: blue;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#loginCancelDiv{
    margin-top: 3%;

}

#loginCancel{
    margin-top: 3%;
    min-width: 110px;
    background-color: rgb(255, 17, 17);
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}