#loginForm{
    margin-top: 5%;
    border: 5px dashed #1C6EA4;
    padding: 3%;
    
}
#loginTitle{
    margin-bottom: 10%;
    text-align: center;
}
#username, #password{
    margin-top: 1%;
    margin-left: 2%;
    color: black;
    font-size: medium;
   
}
#passwordInput{
    margin-bottom: 5%;
}

#passwordInput, #usernameInput{
    margin-top: 1%;
    margin-left: 2%;
    color: black;
    font-size: medium;
    background-color: aliceblue;
}

#loginRegister {
    margin-left: 10%;
    color: black;
    background-color: rgba(8, 180, 8, 0.7);
   margin-left: 60%;
   font-weight: bold;
}

#loginBtn{
    background-color: blue;
    font-weight: bold;
}

#loginCancel{
    margin-top: 3%;
    min-width: 110px;
    background-color: gray;
    color: black;
    font-weight: bold;
}