#tableImage{
   width: 5em;
   height:5em;
    display: block; 
   margin: 1em;
}

#adminTable{
    margin-top: 5%;
    background-color: rgba(4, 131, 250, 0.438);
}

#adminItemTable{
    background-color: rgba(17, 20, 243, 0.2);
    font-weight: bold;
    outline: 1px;
    
}



#adminItemTitle{
    font-size: 18px;
    background-color: darkslateblue;
    color: yellow;
    text-align: center;
}

#tableQuantity {
text-align: center;
margin-left: 1%;
    font-size: 16px;
    color: rgb(89, 6, 107);
}

#tablePrice {
    text-align: left;
    font-size: 16px;
    color: rgb(129, 13, 36);
}

#tableAddBtn{
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30%;
background-color: rgb(35, 120, 248);
}

#tableEditBtn{
    margin-left: 5%;
background-color: rgb(186, 173, 61);
}

#tableDelBtn{
    float: right;
    background-color: rgb(211, 48, 81);
}

#yesDelete{
    background-color: rgb(66, 108, 70);
}

#deleteItemMessage{
    font-size: small;
}

#adminItemTableData{
   text-align: center;
}

