#adminOrderPageTitle{
    margin-top: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: yellow;
    outline: 11px outset #1C6EA4;
    outline-offset: 0px;
    padding: 2%;
    background-color: blueviolet;
    margin-bottom:-3em;
}