#tableImage{
   width: 5em;
   height:5em;
    display: block; 
   margin: 1em;
}

#adminTable{
    margin-top: 5%
}

#adminItemTable{
    background-color: rgba(17, 20, 243, 0.2);
    font-weight: bold;
}

#editBtn {
    margin-right: 1em;
}


#adminItemTitle{
    font-size: 20px;
}

#tableQuantity {
    text-align: center;
    font-size: 16px;
    color: rgb(89, 6, 107);
}

#tablePrice {
    text-align: center;
    font-size: 16px;
    color: rgb(129, 13, 36);
}

#tableAddBtn{
background-color: darkslateblue;
}

#tableEditBtn{
background-color: darkgreen;
}

#tableDelBtn{
    float: right;
    background-color: crimson;
}


