#adminOrderPageTitle{
    margin-top: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: yellow;
    outline: 8px outset #0c93ec;
    outline-offset: 0px;
    padding: 2%;
    background-color: rgba(50, 19, 189, 0.39);
    margin-bottom:-3em;
}