#orderCard{
    width: 300px;
    height: 430px;
    background-color: rgb(18, 120, 253, 0.4);
}

#orderTitle {
  text-align: center;
    font-size: large;
    color: black;
    font-weight: bolder;
}

#orderData {
text-align: left;
color: rgb(255, 239, 21);
background-color: rgba(4, 20, 34, 0.225);
}

#orderDelete {
   float: right;
   margin-top: 10%;
    width: 60px;
    height: 30px;
    background-color: rgb(189, 3, 3);
    color: rgb(255, 241, 241);
}