#cartTotal{
    margin-top: 3em;
    margin-bottom: 1em;
}



#cartTable{
    color: rgb(13, 26, 71);
    background-color: rgb(70, 149, 252, 0.6);
}

#cartHeader{
    margin-bottom: -5%;
    text-align: center;
    outline: 2px outset #1C6EA4;
    outline-offset: 0px;
    background-color: #129bf7;
    color: #212629;
}


#cartPurchase{
    background-color: orange;
    color:rgb(13, 26, 71)
}