#increaseBtn {
  color: rgb(230, 230, 231);
  background-color: rgb(56, 114, 116);
  max-width: 3em;
  max-height: 3em;
  min-width: 2em;
  min-height: 2em;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

#decreaseBtn {
  color: rgb(194, 31, 31);
  background-color: rgb(247, 175, 40);
  max-width: 3em;
  max-height: 3em;
  min-width: 2em;
  min-height: 2em;
  text-align: center;
font-weight: bold;
  font-size: 1em;
}

#cartPrice {
  color: rgb(7, 4, 4);
  font-weight: bolder;
}

#cartProduct {
  font-weight: bold;
}

#cartQuantity {
  font-weight: bold;
}

#cartDelBtn {
  float: right;
}
