#increaseBtn {

    color: rgb(230, 230, 231);
    background-color: rgb(56, 114, 116);
    max-width: 2em;
    max-height: 2em;
    min-width: 2em;
    min-height: 2em;
}

#decreaseBtn {
    color: rgb(233, 35, 35);
background-color: rgb(247, 175, 40);
max-width: 2em;
max-height: 2em;
min-width: 2em;
min-height: 2em;
text-align: left;
}

#cartPrice{
    color: rgb(7, 4, 4);
    font-weight: bolder;
}

#cartProduct{
    font-weight: bold;
}

#cartQuantity{
    font-weight: bold;
}

#cartDelBtn{
    float:right;
}