label{
    color: black;
    font-size: large;
    font-weight: bold;
}


#filterBarDiv{
    background-color: rgba(34, 34, 175, 0.192);
    height: 100%;

}

#sortType{
    width: 90%;
    background-color: rgba(247, 164, 92, 0.651);
    color: rgb(14, 55, 97);
}
#applyFilter{
    margin-left: .5em;
    background-color: rgba(0, 0, 139, 0.497);
    color: aliceblue;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 10%;
}

#listingContainer{
    margin-left: .5em;
}

#minPrice, #maxPrice, #nameSearch{
    color: crimson;
    background-color: snow;
    width: 80%;
    height: 1.5em;
    margin-left: 9%;
}





