.row {
    /* display: inline-block; */
    float: left;
    text-align: left;
    margin-top: 10%;
    margin-left: 2em;
    margin-right:7em;
    width: 30%;
    margin-bottom: 1em;
  }

  .card-action{
    font-size: 10px;
    text-align: right;
    color: red;
  }

  #orderQty{
    color: rgb(238, 70, 70);
    background-color: aqua;
  }

  .card-content{
    width:300px;
    color: #000;
    font-size: 16px;
  }

  .card {
    width:300px;
    background-color: rgb(146, 196, 243);
    height: 590px;
    margin-bottom: 5em;
  }

  .card-image{
    max-height:400px;
    max-width: 400px;
  }
  #listingAddToCartBtn{
    background-color: navy;
    margin-top:1em;
    border-radius: 10%;


    
  }

  #yesAddToCart{
    margin-right:1em;
    background-color:rgb(66, 108, 70);
    border-radius: 10%;
  }

  #noAddToCart{
    background-color: rgb(245, 80, 80);
    border-radius: 10%;
  }

  #confirmAddToCartMessage{
    font-size: larger;
  }

  