.row {
    display: inline-block;
    text-align: left;
    margin-top: 15%;
    margin-left: 10em;
    width: 30%;
    margin-bottom: 1em;
  }

  .card-action{
    font-size: 10px;
    text-align: right;
  }