.row {
    display: inline-block;
    text-align: left;
    margin-top: 10%;
    margin-left: 8em;
    width: 30%;
    margin-bottom: 1em;
  }

  .card-action{
    font-size: 10px;
    text-align: right;
  }

  .card-content{
    width:300px;
  }

  .card {
    width:300px;
  }